@font-face {
  font-family: ModeSeven;
  src: url("fonts/Modeseven.ttf");
}
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: ModeSeven, monospace;
}
.title {
    font-size: 5em;
    margin-top: 20px;
    color: #4af626;
}
.nav-link {
    display: inline-block;
    width: 180px; 
    text-align: center;
    color: #4af626;
    border: #4af626 2px solid;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;  
}
.nav-link:hover {
    background-color: #4af626;
    color: black;
}
.nav {
    text-align: center;
    margin-top: 30px;
}
.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #121212;
    border: 2px solid #4af626;
    border-radius: 10px;
}
.content h2 {
    color: #4af626;
}
.content p {
    line-height: 1.6;
}

@media (max-width: 600px) {
    .title {
        font-size: 3em;
    }

    .links {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .nav-link {
        width: 200px;
        font-size: 1.3em;
    }
}

.burger {
    display: flex;  
    align-items: center; 
    font-size: 2.5em;
    color: #4af626;
    cursor: pointer;
    user-select: none;
    
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}

@keyframes spinBack {
    from { transform: rotate(180deg); }
    to { transform: rotate(0deg); }
}

.burger:hover {
    color: #2eb82e;
}

#mobileMenu {
    transition: max-height 0.3s ease;
}

#mobileMenu.open {
    max-height: 500px;
}

.menu {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    color: #4af626;
}


.menu h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 1;  
}




@media (max-width: 600px) {
    .menu {
        display: flex;
    }
    .burger {
        display: block;
        text-align: center;
        margin-top: 3px;
    }

    .links {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        gap: 10px;
    }

    .nav-link {
        width: 80%;
        margin: 0 auto;
    }
    

}

